@font-face {
  font-family: 'adigiana-ultra';
  src: url('/path-to/adigiana-ultra.woff2') format('woff2'),
       url('/path-to/adigiana-ultra.woff') format('woff'),
       url('/path-to/adigiana-ultra.ttf')  format('truetype');
}

body {
  font-family: 'adigiana-ultra', sans-serif;
}
