@font-face {
    font-family: 'adigiana-ultra';
    src: url('/css/adigiana-ultra.woff2') format('woff2'),
    url('/css/adigiana-ultra.woff') format('woff'),
    url('/css/adigiana-ultra.ttf') format('truetype');
}

html {
    width: 100%;
    height: 100%;
}

body {
    padding: 20px;
    background: rgb(2, 0, 36);
    background: linear-gradient(193deg, rgba(2, 0, 36, 1) 6%, rgba(10, 77, 48, 1) 100%, rgba(7, 112, 112, 1) 100%, rgba(0, 212, 255, 1) 100%);
    background-size: 310% 310%;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center2 {
    text-align: center;
}
.center1 {
    min-height: 500px;
}
.center3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.new {
    margin: 0 auto;
    top: 40%;
    position: absolute;
    width: 100px;
}

.button1 {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.button1:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0cf;
    border-radius: 10rem;
    z-index: -2;
}

.button1:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #008fb3;
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
}

.button1:hover {
    color: #fff;
}

.button1:hover:before {
    width: 100%;
}

h1 {
    text-transform: uppercase;
    font-size: 0.8rem;
    margin-bottom: 2rem;
    /*color: #777;*/
    color: #2f566c;
}

span {
    display: block;
    margin-top: 2rem;
    font-size: 0.7rem;
    color: #777;
}

span a {
    font-size: 0.7rem;
    color: #999;
    text-decoration: underline;
}


.progress-6 {
    padding-top: 0;
    width: 120px;
    height: 22px;
    border-radius: 20px;
    color: #514b82;
    border: 2px solid;
    /*position: relative;*/
}

.progress-6::before {
    content: "";
    position: absolute;
    margin: 2px;
    inset: 0 100% 0 0;
    border-radius: inherit;
    background: currentColor;
    animation: p6 1.5s infinite;
}

@keyframes p6 {
    100% {
        inset: 0
    }
}

.progress-9 {
    padding-top: 0;
    --r1: 154%;
    --r2: 68.5%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: radial-gradient(var(--r1) var(--r2) at top, #0000 79.5%, #269af2 80%) center left,
    radial-gradient(var(--r1) var(--r2) at bottom, #269af2 79.5%, #0000 80%) center center,
    radial-gradient(var(--r1) var(--r2) at top, #0000 79.5%, #269af2 80%) center right,
    #ccc;
    background-size: 50.5% 220%;
    background-position: -100% 0%, 0% 0%, 100% 0%;
    background-repeat: no-repeat;
    animation: p9 2s infinite linear;
}

@keyframes p9 {
    33% {
        background-position: 0% 33%, 100% 33%, 200% 33%
    }
    66% {
        background-position: -100% 66%, 0% 66%, 100% 66%
    }
    100% {
        background-position: 0% 100%, 100% 100%, 200% 100%
    }
}

.game.even {
    display: flex;
    flex-flow: wrap;
    align-content: space-between;
    justify-content: space-evenly;
}

.game > div {
    flex: 1 1 110px;
    padding: 0 10px;
    max-height: 120px;
}

.dir {
    width: 100%;
}

.img {
    width: auto;
    max-width: 220px;
    height: 150px;
}

.img img {
    width: 100%;
    height: auto;
}

.font {
    font-family: 'adigiana-ultra', sans-serif;
}

.text {
    font-family: 'adigiana-ultra', sans-serif;
    display: inline-block;
    padding-left: 7px;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.text-1 {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='200px' height='200px' viewBox='0 0 400 400'%3e%3cdefs%3e%3cfilter id='filter' width='400px' height='400px' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3e%3cfeFlood flood-color='%23f5576c' flood-opacity='1' x='0' y='0' width='250px' height='250px' result='flood3'%3e%3c/feFlood%3e%3cfeFlood flood-color='%23f093fb' flood-opacity='1' x='150px' y='150px' width='250px' height='250px' result='flood4'%3e%3c/feFlood%3e%3cfeGaussianBlur stdDeviation='50 50' x='0%25' y='0%25' width='100%25' height='100%25' in='flood3' edgeMode='none' result='blur1'%3e%3c/feGaussianBlur%3e%3cfeGaussianBlur stdDeviation='50 50' x='0%25' y='0%25' width='100%25' height='100%25' in='flood4' edgeMode='none' result='blur2'%3e%3c/feGaussianBlur%3e%3cfeBlend mode='normal' x='0%25' y='0%25' width='100%25' height='100%25' in='blur2' in2='SourceGraphic' result='blend5'%3e%3c/feBlend%3e%3cfeBlend mode='normal' x='0%25' y='0%25' width='100%25' height='100%25' in='blur1' in2='blend5' result='blend6'%3e%3c/feBlend%3e%3c/filter%3e%3c/defs%3e%3crect width='400' height='400' x='0' y='0' fill='%23fee140' filter='url(%23filter)'%3e%3c/rect%3e%3c/svg%3e");
}

.text-2 {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='200px' height='200px' viewBox='0 0 400 400'%3e%3cdefs%3e%3cfilter id='filter' width='400px' height='400px' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3e%3cfeFlood flood-color='%238fd3f4' flood-opacity='1' x='0' y='0' width='250px' height='250px' result='flood3'%3e%3c/feFlood%3e%3cfeFlood flood-color='%2396e6a1' flood-opacity='1' x='150px' y='150px' width='250px' height='250px' result='flood4'%3e%3c/feFlood%3e%3cfeGaussianBlur stdDeviation='50 50' x='0%25' y='0%25' width='100%25' height='100%25' in='flood3' edgeMode='none' result='blur1'%3e%3c/feGaussianBlur%3e%3cfeGaussianBlur stdDeviation='50 50' x='0%25' y='0%25' width='100%25' height='100%25' in='flood4' edgeMode='none' result='blur2'%3e%3c/feGaussianBlur%3e%3cfeBlend mode='normal' x='0%25' y='0%25' width='100%25' height='100%25' in='blur2' in2='SourceGraphic' result='blend5'%3e%3c/feBlend%3e%3cfeBlend mode='normal' x='0%25' y='0%25' width='100%25' height='100%25' in='blur1' in2='blend5' result='blend6'%3e%3c/feBlend%3e%3c/filter%3e%3c/defs%3e%3crect width='400' height='400' x='0' y='0' fill='%23d4fc79' filter='url(%23filter)'%3e%3c/rect%3e%3c/svg%3e");
}

.text-3 {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='200px' height='200px' viewBox='0 0 400 400'%3e%3cdefs%3e%3cfilter id='filter' width='400px' height='400px' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3e%3cfeFlood flood-color='%23cd9cf2' flood-opacity='1' x='0' y='0' width='250px' height='250px' result='flood3'%3e%3c/feFlood%3e%3cfeFlood flood-color='%23c2e9fb' flood-opacity='1' x='150px' y='150px' width='250px' height='250px' result='flood4'%3e%3c/feFlood%3e%3cfeGaussianBlur stdDeviation='50 50' x='0%25' y='0%25' width='100%25' height='100%25' in='flood3' edgeMode='none' result='blur1'%3e%3c/feGaussianBlur%3e%3cfeGaussianBlur stdDeviation='50 50' x='0%25' y='0%25' width='100%25' height='100%25' in='flood4' edgeMode='none' result='blur2'%3e%3c/feGaussianBlur%3e%3cfeBlend mode='normal' x='0%25' y='0%25' width='100%25' height='100%25' in='blur2' in2='SourceGraphic' result='blend5'%3e%3c/feBlend%3e%3cfeBlend mode='normal' x='0%25' y='0%25' width='100%25' height='100%25' in='blur1' in2='blend5' result='blend6'%3e%3c/feBlend%3e%3c/filter%3e%3c/defs%3e%3crect width='400' height='400' x='0' y='0' fill='%2366a6ff' filter='url(%23filter)'%3e%3c/rect%3e%3c/svg%3e");
    border: none;
    font-size: 2em;
    padding: 22px;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-4 {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='200px' height='200px' viewBox='0 0 400 400'%3e%3cdefs%3e%3cfilter id='filter' width='400px' height='400px' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3e%3cfeFlood flood-color='%230fd850' flood-opacity='1' x='0' y='0' width='250px' height='250px' result='flood3'%3e%3c/feFlood%3e%3cfeFlood flood-color='%2320E2D7' flood-opacity='1' x='80px' y='160px' width='250px' height='250px' result='flood4'%3e%3c/feFlood%3e%3cfeGaussianBlur stdDeviation='50 50' x='0%25' y='0%25' width='100%25' height='100%25' in='flood3' edgeMode='none' result='blur1'%3e%3c/feGaussianBlur%3e%3cfeGaussianBlur stdDeviation='50 50' x='0%25' y='0%25' width='100%25' height='100%25' in='flood4' edgeMode='none' result='blur2'%3e%3c/feGaussianBlur%3e%3cfeBlend mode='normal' x='0%25' y='0%25' width='100%25' height='100%25' in='blur2' in2='SourceGraphic' result='blend5'%3e%3c/feBlend%3e%3cfeBlend mode='normal' x='0%25' y='0%25' width='100%25' height='100%25' in='blur1' in2='blend5' result='blend6'%3e%3c/feBlend%3e%3c/filter%3e%3c/defs%3e%3crect width='400' height='400' x='0' y='0' fill='%23fbed96' filter='url(%23filter)'%3e%3c/rect%3e%3c/svg%3e");
}


:root {
    --border-color: #D7DBE3;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
    --green: #0CD977;
    --red: #FF1C1C;
    --pink: #FF93DE;
    --purple: #5767ED;
    --yellow: #FFC61C;
    --rotation: 0deg;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: absolute;
    width: 100%;
    background: #000000b0;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
}

.modal {
    min-width: 30%;
    margin: 0 auto;
    border: 1px solid var(--border-color);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.16);
    background-color: #fff;
    border-radius: 0.25rem;
    padding: 2rem;
    z-index: 1;
}
.modal button {
    width: 260px;
    padding: 0;
}
.emoji {
    display: block;
    text-align: center;
    font-size: 5rem;
    line-height: 5rem;
    transform: scale(0.5);
    animation: scaleCup 2s infinite alternate;
}

@keyframes scaleCup {
    0% {
        transform: scale(0.6);
    }

    100% {
        transform: scale(1);
    }
}

h1 {
    text-align: center;
    font-size: 1em;
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    font-size: 1.4em;
}
h1.nt {
    margin-top: 0;
}
.modal-btn {
    display: block;
    margin: 0 -2rem -2rem -2rem;
    padding: 1rem 2rem;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-weight: 600;
    border-radius: 0 0 .25rem .25rem;
    background-color: var(--green);
    text-decoration: none;
    font-size: 2em;
}

.sound {
    padding: 22px;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.sound-on {
    background-image: url("soundOn.png");
}

.sound-off {
    background-image: url("soundOff.png");
}

.version {
    color: #343434;
}

div.container {
    text-align: center;
    margin: 20px auto 0;
}

.button {
    display: inline-block;
    background-color: #1984c3;
    color: #fff461;
    font-size: 2em;
    padding: .2em 2em;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 0.5em;
    border-bottom: 0.25em solid #0f5177;
    -moz-transition: 0.1s;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    position: relative;
    width: 150px;
}

.button:hover {
    background-color: #1e9feb;
    border-bottom-width: 0;
}

.fixedbutton:hover {
    background-color: #fff461;
    border-bottom-width: 0;
}

.title {
    font-size: 2.7em;
    padding: 10px;
}

.fixedbutton {
    width: 230px;
    margin-top: 50px;
    background-color: #fff461;
    color: #1984c3;
    padding: 8px 24px;
    font-size: 1.4em;
}

@media screen and (max-width: 400px) {
    .img {
        max-width: 140px;
    }
    .modal {
        min-width: 60%;
    }
}
